*::selection
{
background: #66CC99;
}
body {
font-family: 'Open Sans', sans-serif;
}
 .nav{
	/*border-bottom: 1px solid #dbdbdb;
	box-shadow: 2px 2px 1px grey;*/
	text-align:center;

} 

.nav .container {
	height:70px;
}

.nav a{
	color: #5a5a5a;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 30px;
	text-transform: uppercase;
	text-decoration:none;	
}
.navigacija a:hover{
	border-bottom:solid #4DAF7C;
	border-radius: 20px 5px 20px 5px;
	color:#fff;
	background:#4DAF7C;
}

.navigacija .aktiven{
	border-bottom: solid #4DAF7C;
	border-radius: 10px;
	color: #4DAF7C;
	padding-top:3px;
}

.nav .navigacija {
margin-top: 20px;
padding-bottom:30px;
}
.nav li {
	display: inline;
}

.logo
{	
	padding: 0;
	/* float: left; */
}

.navigacija{
text-align: center;
margin-bottom:0px;
padding-bottom:20px;
padding-left:20px;
border-bottom: 1px solid #dbdbdb;
box-shadow: 0px 0px 0px grey;
}

	
}
.proizvodi {
	background-color: #efefef;
	border-bottom:1px solid #dbdbdb;
	
}

h2 {
	color: #4DAF7C;
	font-size:24px;
}

.proizvodi p {
	margin-bottom:13px;
	font-size:15px;
}
.uslugi {
	margin-top:40px;
	padding: 20px;
	border-bottom:1px solid #dbdbdb;
}
.uslugi .ikoni{
	text-align:center;
}
.uslugi .ikoni a{
	text-decoration:none;
	color: #333;	
}

.uslugi .ikoni:hover{
	border-left: 3px solid #4DAF7C; 
	border-radius:5%;
	

}

.footer{
	background-color: #efefef;
}

.footer a{
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 10px 10px;
	text-transform: uppercase;
	text-decoration:none;	
}

.footer li {
	display:inline;
}

.footer .navigacija_footer {
margin-top:40px;
float:right;
}
.footer .navigacija_footer a:hover{
	color:#4DAF7C;
}


.footer .logo{
float:left;
}

.footer .copyright{
	text-align:center;
	clear:both;
	font-size:10px;
}

.zaNas {
	margin-top: 100px;
}

.zaNas p {
	font-size:16px;
}

.kontakt {
	margin-top:70px;
	margin-left: 10px;
	margin-right: 40px;
	padding: 30px;
}
.kontakt form
{
	max-width:450px;
	margin: 0 auto 100px;
	padding: 0 20px;
}

.kontakt textarea{
	border: 1px solid;
	width: 100%;
	padding: 10px;
	font-size:12px;
	resize:none;
}

.kontakt input{
	border: 1px solid;
	width: 220px;
	font-size:16px;
}
.kontakt input[type="submit"]{
	
	
}

.kontakt textarea:focus {
	border-color:#4DAF7C;
}

.kontakt input:focus {
	border-color:#4DAF7C;
}

.contact_header {
	padding-left:170px;
	color:#4DAF7C;
}

.kontakt_informacii {
	padding-top:70px;

}

h4 {
	color:#4DAF7C;
}

.prazno_mesto {
	padding: 50px;
}

.proUsl  {
	position:relative;
	overflow-x: hidden;
	margin-top:50px;
	padding-top: 100px;
	padding-left:250px;
	width:1100px;
	
} 


	
} 
.proUsl .proVodovod {
float: left;
}

.proUsl .naslh2 {
	padding-left:15px;
	padding-bottom:15px;
	width:300px;
	color:#4DAF7C;
}
 .proUsl .usl-text {
	padding-top:25px;
} 